.nav-container {
  display: flex;
  max-width: 40%;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-end;
}

.link {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding-right: 1em;
}

.link:hover {
  color: #00ffff;
}

.link:active {
  color: gray;
}
